@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
}

/*  navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    height: 100px;

    margin: auto;

    position: relative;
    /* z index relative absolut yapisinda elemetin ne kadar ön planda olacagini belirler, varsayilan deger 1´dir dolayisyla 2 verirsek eger diger butun elementlerin önune  cikar */
    z-index: 5;

}

.navbar img{
    height: 80px
}

.btn{
    padding: 3px 8px;
    background-color: rgba(0, 0, 0, 0.057);
    color: white;
    border: 1px solid white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: .4s;
}

    /* btn sinifinin ustune gelince background görumunu kirmizi yap */
.btn:hover{
    background-color: red;
}

.btn-red{
    background-color: red;
}

 /* buda btn-red ustune gelince arka planini transparat yap dedik yani (seffaf anlamina gelir demek) */

.btn-red:hover{
    background-color: transparent;
}

/* Hero */

.hero{
    height: 100vh;

    background-image: url('./assets/images/banner.jpg');
    background-position: center center;
    background-size: cover;

    position: relative;
}

.layer{
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: black;
    opacity: 0.6;
}

.hero-content{
    position: relative;
    z-index: 5;
    color: white;
    height: calc(100% - 200px);

    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 0 2%;
}

.hero-content h1{
    font-size: 40px;

}

.hero-content p{
    font-size: 20px;
    font-weight: 500;
}

.hero-buttons{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.hero-buttons input{
    padding: 7px 100px 7px 15px;
    background-color: rgba(0, 0, 0, 0.557);
    border: 1px solid rgb(197,197,197);
    border-radius: 4px;
    color: white;
}

.hero-buttons button{
    font-size: 18px;
}


/* separator (ayrac divi) */

.separator{
    width: 100%;
    height: 0;
    border-bottom: 5px solid rgb(54,54,54);
}


/* info area */


.info-area{
 display:flex ;
 align-items: center;
 gap: 30px;
 justify-content: center;

 max-width: 70vw;
 margin: auto;
}

.info-area .info-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-area .info-image{
        position: relative;
}

.info-area .info-image img{
    width: 500px;

}

.info-area .info-image video{
    position: absolute;
    top: 50px;
    left: 0px;    
    z-index: -1;
}



    /* ^ Faq area */


.faq-area{
    padding: 35px;
    text-align: center;
}

.faq-area h2{
    font-size: 48px;
    font-weight: 600;
}



.faq-box-contanier{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 40px;
}




.faq-box{
    background-color: #272727;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 60vw;
    margin: auto;
    padding: 24px;
    cursor: pointer;
    transition: all 0,4s;
}


.faq-box:hover{
    background-color: #202020;
}




/* footer alani */

.footer{
    max-width: 60vw;
    margin: auto ;
    padding: 34px;
}

.footer .questions{
    font-size: 25px;
    margin-bottom: 50px;
}

.footer-item-container{
    display: flex;
    gap: 40px;

    flex-wrap: wrap;
    padding-bottom: 50px;
}

.footer-item{
    display: flex;
    margin: auto;
    gap: 50px;
}

.footer-item a{
    color: white;
    font-size: 18px;
    transition: .2s all;
}

.footer-item:hover a{
    color: red;
}

/* responsive tasarim */
@media (max-width: 1000px) {
  .info-area {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
}

@media (max-width: 700px) {
    .info-image img{
        width: 300px !important;
    }

    .info-image video{
        width: 250px !important;
    }

    .hero-content h1{
        font-size: 20px;
    }

    .hero-content p{
        font-size: 12px;
    }

    .btn{
        font-size: 12px;
    }

    .navbar{
        width: 90vw;
    }
}